<div class="card" style="width: 18rem;">
  <ul class="list-group list-group-flush">
    <li class="list-group-item">ID {{ personaInput.id }}</li>
    <li class="list-group-item">Nombre {{ personaInput.name }}</li>
    <li class="list-group-item">Apellido {{ personaInput.surname }}</li>
    <li class="list-group-item">DNI {{ personaInput.dni }}</li>
    <li>
      <button class="bi bi-pencil-square btn btn-primary m-lg-2" type="submit">Editar</button>
      <button (click)="deletePerson(personaInput.id)" class="bi bi-trash btn btn-primary" type="submit">Borrar</button>
    </li>
  </ul>
</div>

